$color__indicator-ring--dark: #cfe0f4;

.speedometer {
  &__canvas {
    width: 1000px;
    height: 850px;
    border: 1px solid red;
  }

  &__current-speed {
    font-family: sans-serif;
    font-size: 12em;
    letter-spacing: .04em;
    font-weight: bold;
  }

  &__unit {
    font-family: sans-serif;
    fill: white;
    font-size: 2em;
    letter-spacing: 1px;
    transform: translateY(12%)
  }

  &__inner-ring {
    stroke: $color__indicator-ring--dark;
    stroke-width: 20;
    cx: 50%;
    cy: 50%;
    fill: transparent
  }

  &__gear-label {
    font-family: sans-serif;
    font-size: 2.6em;
    font-weight: 600;
    fill: #6a6a72;
    stroke: none;
  }

  #ring__speed-indicator {
    transition: stroke-dashoffset 100ms linear, opacity 500ms ease-in-out, stroke 300ms ease-in-out;
    opacity: 0;

    &-shine {
      transition: stroke-dashoffset 100ms linear;
      -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
      filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    }

    &.is-active {
      opacity: 1;
    }
  }

  &-component {
    background-color: #303136;
    color: white;
    width: 100%;
    height: 100%;
    min-height: 600px;
    border: 1px solid white;

    &.speedometer-component-light {
        background-color: white;
        color: black;
    }
  }
}