$color__indicator-ring--dark: #cfe0f4;
$color__indicator-ring--glow-end: #f2feff;
$color__gray--default: #414046;
$color__background: #303136;
$color__highlight: #cdddf6;
$color__warn--dark: #ebc90c;

@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.speedometer {
  &__canvas {
    width: 1000px;
    height: 850px;
    border: 1px solid red;
  }

  &__inner-ring {
    stroke: $color__indicator-ring--dark;
    stroke-width: 20;
    cx: 50%;
    cy: 50%;
    fill: transparent;
  }

  &__current-speed {
    font-family: sans-serif;
    font-size: 12em;
    letter-spacing: .04em;
    font-weight: bold;
    transform: translateY(20px);
    opacity: 0;
    animation: 500ms ease-out 200ms 1 slide-in-from-bottom;
    animation-fill-mode: forwards;
  }

  &__unit {
    font-family: sans-serif;
    fill: white;
    font-size: 2em;
    letter-spacing: 1px;
    transform: translateY(11.5%);
    opacity: 0;
    animation: 300ms ease-in-out 600ms 1 fade-in;
    animation-fill-mode: forwards;
  }

  &__current-speed,
  &__unit {
    transition: fill 300ms ease-in-out;
  }

  &__speed-limit-indicator {
    stroke: $color__background;

    &.transparent {
      stroke: rgba($color__background, .1)
    }
  }

  .selected__gear--P {
    .speedometer__current-speed,
    .speedometer__unit {
      transition: fill 300ms ease-in-out;
      fill: $color__gray--default;
    }
  }

  &__gear {
    &-container {
      opacity: 1;
      transition: opacity 500ms ease-in-out;

      &.hidden {
        opacity: 0;
      }
    }

    &-label {
      font-family: sans-serif;
      font-size: 1.4em;
      font-weight: 600;
      stroke: none;
      transition: font-size 300ms ease-in-out, fill 300ms ease-in-out;
    }

    &-circle {
      opacity: 0;
      stroke-width: 7;
      r: 30;
      transition: all 300ms ease-in-out;
    }

    &--selected {
      .speedometer__gear-circle {
        r: 38;
        opacity: 1;
      }

      .speedometer__gear-label {
        font-size: 2.4em;
      }
    }
  }

  #ring__current-speed {
    transition: stroke-dashoffset 100ms linear, opacity 500ms ease-in-out, stroke 100ms ease-in, stroke-width 400ms cubic-bezier(.75,1.68,.82,1.72);
    opacity: 0;

    &.is-active {
      opacity: 1;
    }

    &-inner-shine {
      opacity: 0;
      transition: stroke-dashoffset 100ms linear, opacity 100ms linear;

      &.active {
        opacity: .15;
      }
    }

    &-highlight,
    &-highlight--blurred {
      opacity: 0;
      transition: all 100ms linear, opacity 500ms ease-in-out;

      &.is-active {
        opacity: 1;
      }
    }

    &--effect {
      transition: 100ms;
      transition-property: transform;
      transition-timing-function: linear;

      &.visible .attached-particle {
        opacity: 1;
      }

      .attached-particle {
        opacity: 0;
        transition: cx 100ms linear, cy 100ms linear;
      }
    }
  }

  .circle-glow {
    transition: all 100ms linear;
  }

  &-component {
    background-color: #303136;
    color: white;
    width: 100%;
    height: 100%;
    min-height: 600px;
    border: 1px solid white;

    &.speedometer-component-light {
        background-color: white;
        color: black;
    }
  }
}